.wrapper {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1800px;
  min-width: 320px;
}
@import 'styles/reset.sass';
@import 'styles/config.scss';
@import 'styles/fonts.scss';
@import 'styles/header.scss';
@import 'styles/header__logo.scss';
@import 'styles/about.scss';
@import 'styles/grids.scss';

