.banner {
  position: relative;
  margin: 100px auto 0;
  padding: 0 0 20px;
  width: 100%;
  overflow: hidden;
}

.banner__img {
  margin: 0 auto;
  background: linear-gradient(90deg, #1463aa 10%, rgba(48, 51, 59, 0.4) 100%),
    url("../img/banner_next.png") 0 -110px/1900px no-repeat fixed;
}

// .banner__img:hover {
//   background: linear-gradient(90deg, #1463aa 5.39%, rgba(48, 51, 59, 0.4) 100%),
//     url("../img/banner.png") center/2090px no-repeat;
// }

.info__row {
  margin: 0 auto;
  padding: 90px 0 60px;
  max-width: 80%;
  @include flex-between;
  align-items: top;
}

.info__box {
  width: 50%;
}

.info__title {
  position: relative;
  width: 270px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: #fff;
}

.info__title span {
  position: relative;
  color: #1463aa;
}

.info__title::before {
  content: "";
  position: absolute;
  border-radius: 4px;
  top: -3.9px;
  left: -6px;
  width: 37px;
  height: 35px;
  background-color: #fff;
  z-index: 0;
}

.info__text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  color: #fff;
}

.mail__form {
  padding: 30px 0;
  margin: -30px 0 0 0;
  box-sizing: border-box;
  width: 41%;
  max-height: 565px;
  background-color: rgba(20, 99, 170, 0.7);
  border-radius: 10px;
  transition-duration: 0.3s;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.66);
}

.mail__form:hover {
  background-color: rgba(20, 99, 170, 0.9);
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.66);
}

.form__title {
  margin: 0 auto 10px;
  width: 80%;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.form__item {
  margin: 0 auto 10px;
  width: 80%;
  @include flex-between;
  flex-direction: column;
}

.form__item label {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 10px 5px;
  margin-bottom: 5px;
}

.form__item input {
  height: 30px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-align: left;
  padding: 0 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.form__item input:hover {
  transform: scale(1.05);
}

.form__item textarea {
  height: 100px;
  resize: none;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-align: left;
  padding: 0 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.form__item textarea:hover {
  transform: scale(1.05);
}

.form__message {
  margin: 10px auto;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  display: block;
  opacity: 0;
  transition-duration: 0.5s;
}

.active {
  opacity: 1;
}

.form__button {
  margin: 0 auto;
  width: 200px;
}
.form__button button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  color: #1463aa;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  transition-duration: 0.3s;
}
.form__button button:hover {
  background-color: #1463aa;
  color: #fff;
}

@media (min-width: 1900px) {
  .banner__img {
    margin: 0 auto;
    background: linear-gradient(
        90deg,
        #1463aa 5.39%,
        rgba(48, 51, 59, 0.4) 100%
      ),
      url("../img/banner_next.png") 0 -110px/100vw no-repeat fixed;
  }
}

@media (max-width: 1200px) {
  .info__title::before {
    top: -3px;
    left: -4px;
    width: 28px;
    height: 28px;
  }

  .form__title {
    font-size: 25px;
  }

  .info__title {
    font-size: 25px;
  }
}

@media (max-width: 1070px) {
  .banner__img {
    margin: 0 auto;
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, #1463aa 5.39%, rgb(255, 255, 255) 100%);
    transition: 0.3s;
  }

  .info__row {
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0px;
  }

  .info__title {
    margin-bottom: 30px;
  }

  .info__box {
    width: 100%;
  }

  .info__box-pic {
    width: 0;
  }

  .info__text {
    font-size: 17px;
  }

  .mail__form {
    margin: 30px 0 0 0;
    width: 100%;
  }
}

@media (max-width: 510px) {
  .info__text {
    text-align: left;
  }

  .form__title {
    font-size: 20px;
  }
}
