.chart {
  margin: 80px auto 0;
  @include flex-between;
  align-items: top;
  width: 80%;
}

.chart__box {
  width: 50%;
  margin: 0 20px 0 20px;
}

.chart__info {
  width: 50%;
  margin: 0 auto;
}

.chart__text {
  max-width: 700px;
  line-height: 20px;
}

.chart__info-title {
  margin: 0 auto 20px;
  max-width: 500px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-transform: uppercase;
  color: #1463aa;
}

.chart__title {
  position: relative;
  margin: 80px auto 0;
  width: 400px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #1463aa;
}

.chart__title span {
  color: #ffffff;
}

.chart__title::before {
  content: "";
  position: absolute;
  border-radius: 4px;
  top: -8px;
  left: 18px;
  width: 119px;
  height: 40px;
  background-color: #1463aa;
  z-index: -1;
}

@media (max-width: 1070px) {
   .chart__title {
    margin: 30px auto 30px;
    font-size: 20px;
    width: 320px;
  }
   .chart__title::before {
    top: -5px;
    left: 40px;
    width: 78px;
    height: 35px;
  }
}